<div class="form-line-sections-2">
    <div {{attribute (mergeAttributes this.attributes defaults=(extendDefaults defaults='{"className":"line-row header-row"}' formLineColumnDetect=this style=this.style scope="form-line-row-header")) }}>
        <div class="line-number-description-container {{#if hideLineNumbers}}line-number-hidden{{/if}}">
            {{#unless this.hideLineNumbers}}
            <div class="line-number">
                <div class="value-container">
                    <span>Line #</span>
                </div>
            </div>
            {{/unless}}
            <div class="line-description">
                <div class="value-container">
                    <span>Description</span>
                </div>
            </div>
        </div>
        <div class="line-values-container">
            <div class="line-values-row">
                <div class="value-type">
                    <span>{{this.lineValueType}}</span>
                </div>
                <div class="value-value">
                    <span>Value</span>
                </div>
                <div class="value-notifier">
                    <span>{{#if lineValueNotifierTitle}}{{lineValueNotifierTitle}}{{/if}}</span>
                </div>
            </div>
        </div>
        {{#if this.lineAdjustmentTitle}}
            <div class="line-adjustment">
                <div class="value-container">
                    <span>{{this.lineAdjustmentTitle}}</span>
                </div>
            </div>
        {{/if}}
        {{#if this.lineAdjustmentReasonTitle}}
            <div class="line-reason">
                <div class="value-container">
                    <span>{{this.lineAdjustmentReasonTitle}}</span>
                </div>
            </div>
        {{/if}}
    </div>

    {{#if this.lines}}
        {{#each this.lines}}
            <div {{attribute (mergeAttributes this.attributes defaults=(extendDefaults defaults='{"className":"line-row"}' formLineColumnDetect=../this style=this.style scope="form-line-row-line" )) }}>
                <div class="line-number-description-container {{#if ../hideLineNumbers}}line-number-hidden{{/if}}">
                    {{#unless ../hideLineNumbers}}
                    <div class="line-number">
                        <div class="value-container">
                            <span>{{this.properties.lineNumber}}</span>
                        </div>
                    </div>
                    {{/unless}}
                    <div class="line-description">
                        <div class="value-container">
                            <span>{{this.properties.lineLabel}}</span>
                        </div>
                    </div>
                </div>
                <div class="line-values-container">
                    {{#if this.parts.lineValues}}
                        {{#each this.parts.lineValues}}
                            {{#if this.properties}}
                                {{~> _composite-formLineValues2 this.properties}}
                            {{else}}
                                {{~> _composite-formLineValues2 this}}
                            {{/if}}
                        {{/each}}
                    {{else}}
                        <div class="line-values-row">
                            <div class="value-type">
                                <span></span>
                            </div>
                            <div class="value-value">
                                <span></span>
                            </div>
                            <div class="value-notifier">
                                <span></span>
                            </div>
                        </div>
                    {{/if}}
                </div>
                {{#if this.parts.adjustments}}
                <div class="line-adjustment">
                    <div class="value-container">
                        {{~> (getPartialName this.parts.adjustments.template) this.parts.adjustments ~}}
                    </div>
                </div>
                {{/if}}
                {{#if this.parts.reason}}
                <div class="line-reason">
                    <div class="value-container">
                        {{~> (getPartialName this.parts.reason.template) this.parts.reason ~}}
                    </div>
                </div>
                {{/if}}
            </div>

        {{/each}}
    {{/if}}

</div>
