<div {{attribute (mergeAttributes this.attributes defaults=(extendDefaults defaults='{"className":"form-lines-flex-row"}' extend=(formLineRowDetect this) style=this.style scope="form-line-row")) }}>
    <div class="form-lines-section-label">
        <div class="form-lines-line-number">
            <span class="form-line-table-cell">
                <span>
                    {{this.lineNumber}}
                </span>
            </span>
        </div>
        <div class="form-lines-label">
            <span>
                <span class="form-line-table-cell">
                    <span class="form-line-mobile-only-line-number">{{this.lineNumber}}</span>
                    <span>{{this.lineLabel}}</span>
                </span>
            </span>
        </div>
    </div>
    <div class="form-lines-section-values">
        {{#if this.lineValues~}}

            {{~> _composite-formLineValues this.lineValues ~}}

        {{else}}
            <div class="form-lines-section-values-row">
                <div class="form-lines-section-values-label">
                </div>
                <div class="form-lines-section-values-value">
                </div>
                <div class="form-lines-section-values-notifier">
                </div>
            </div>
        {{/if~}}

    </div>
    <div class="form-lines-section-values-adjustment-line">
        <div class="form-line-adjustment-label">
            <span class="form-line-table-cell">
                <span>{{this.adjustLabel}}</span>
            </span>
        </div>
        <div class="form-line-adjustment-value">
            {{#if this.adjustments}}
                {{~> (getPartialName this.adjustments.template) this.adjustments~}}
            {{~/if}}
        </div>
        <div class="form-line-adjustment-filler"></div>
    </div>
    <div class="form-lines-section-values-reason-line">
        <div class="form-line-reason-label">
            <span class="form-line-table-cell">
                <span>{{this.reasonLabel}}</span>
            </span>
        </div>
        <div class="form-line-reason-value">
            {{#if this.reason}}
                {{~> (getPartialName this.reason.template) this.reason~}}
            {{~/if}}
        </div>
        <div class="form-line-reason-filler"></div>
    </div>
</div>
