{{#ifCond v1=this op="typeof" v2="array"}}

    {{#each this}}

        {{#if this.template}}

            {{~> _composite-formLineValues this ~}}

        {{else}}

            <div class="form-lines-section-values-row">
                <div class="form-lines-section-values-label">
                    {{#if this.properties}}
                        {{#if this.properties.valueLabel~}}
                            <span class="form-line-table-cell">
                                <span>{{~this.properties.valueLabel~}}</span>
                            </span>
                        {{/if~}}
                    {{else}}
                        {{#if this.valueLabel~}}
                            <span class="form-line-table-cell">
                                <span>{{~this.valueLabel~}}</span>
                            </span>
                        {{/if~}}
                    {{/if}}
                </div>
                <div class="form-lines-section-values-value">
                    {{#if this.properties}}
                        {{#if this.properties.valueVal~}}
                            <span class="form-line-table-cell">
                                <span class="cui-align-right">{{~this.properties.valueVal~}}</span>
                            </span>
                        {{/if~}}
                    {{else}}
                        {{#if this.valueVal~}}
                            <span class="form-line-table-cell">
                                <span class="cui-align-right">{{~this.valueVal~}}</span>
                            </span>
                        {{/if~}}
                    {{/if}}
                </div>
                <div class="form-lines-section-values-notifier">
                    {{#if this.properties.valueNotifierText~}}
                        <span class="form-line-table-cell">
                        {{~> _notifier (formLineNotifier text=this.properties.valueNotifierText color=this.properties.valueNotifierColor tooltip=this.properties.valueNotifierTooltip) scope="formLineNotifier" }}
                        </span>
                    {{else}}
                         {{#if this.valueNotifierText~}}
                            <span class="form-line-table-cell">
                            {{~> _notifier (formLineNotifier text=this.valueNotifierText color=this.valueNotifierColor tooltip=this.valueNotifierTooltip) scope="formLineNotifier" }}
                            </span>
                        {{/if}}
                    {{/if}}
                </div>
            </div>

        {{/if}}

    {{/each}}

{{else}}

    <div class="form-lines-section-values-row">
        <div class="form-lines-section-values-label">
            {{#if this.properties}}
                {{#if this.properties.valueLabel~}}
                    <span class="form-line-table-cell">
                        <span>{{~this.properties.valueLabel~}}</span>
                    </span>
                {{/if~}}
            {{else}}
                {{#if this.valueLabel~}}
                    <span class="form-line-table-cell">
                        <span>{{~this.valueLabel~}}</span>
                    </span>
                {{/if~}}
            {{/if}}
        </div>
        <div class="form-lines-section-values-value">
            {{#if this.properties}}
                {{#if this.properties.valueVal~}}
                    <span class="form-line-table-cell">
                        <span class="cui-align-right">{{~this.properties.valueVal~}}</span>
                    </span>
                {{/if~}}
            {{else}}
                {{#if this.valueVal~}}
                    <span class="form-line-table-cell">
                        <span class="cui-align-right">{{~this.valueVal~}}</span>
                    </span>
                {{/if~}}
            {{/if}}
        </div>
        <div class="form-lines-section-values-notifier">
            {{#if this.properties.valueNotifierText~}}
                <span class="form-line-table-cell">
                {{~> _notifier (formLineNotifier text=this.properties.valueNotifierText color=this.properties.valueNotifierColor tooltip=this.properties.valueNotifierTooltip) scope="formLineNotifier" }}
                </span>
            {{/if}}
        </div>
    </div>
{{/ifCond}}
