{{! Check to see if the selected headerID type is not one of the none ID driven input items}}
{{#ifCond v1=this.selection op="in" v2="AN,IN,IA,BA,BN,OU,RN"~}}

	{{#ifCond v1=this.selection op="in" v2="AN,IN,IA,BA,BN,RN" ~}}

		{{! Check to see if the selected headerID type is not one of the single name type }}
		{{#ifCond v1=this.selection op="in" v2="AN,IN,IA,BA"~}}

			{{! Check to see if this is a full address }}
			{{#ifCond v1=this.selection op="in" v2="IA,BA"~}}

				<span id="HEADER_STREETCID">
					{{#ifCond v1=this.search.headerID.readOnly op="boolCheck" v2="true"~}}
						<span id="HEADER_STREET" class="static-value">{{~values.HEADER_STREET~}}</span>
					{{~else~}}
						<label for="HEADER_STREET">Street:</label>
						<input id="HEADER_STREET" maxLength="30" size="25" name="HEADER_STREET" value="{{~values.HEADER_STREET~}}">
					{{/ifCond~}}
				</span>
				<span id="HEADER_CITYCID">
					{{#ifCond v1=this.search.headerID.readOnly op="boolCheck" v2="true"~}}
						<span id="HEADER_CITY" class="static-value">{{~values.HEADER_CITY~}}</span>
					{{~else~}}
						<label for="HEADER_CITY">City:</label>
						<input id="HEADER_CITY" maxLength="18" name="HEADER_CITY" value="{{~values.HEADER_CITY~}}">
					{{/ifCond~}}
				</span>
				<span id="HEADER_STATECID">
					{{#ifCond v1=this.search.headerID.readOnly op="boolCheck" v2="true"~}}
						<span id="HEADER_STATE" class="static-value">{{~values.HEADER_STATE~}}</span>
					{{~else~}}
						<label for="HEADER_STATE">State:</label>
						<input id="HEADER_STATE" maxLength="2" size="5" name="HEADER_STATE" value="{{~values.HEADER_STATE~}}">
					{{/ifCond~}}
				</span>
				<span id="HEADER_ZIPCID">
					{{#ifCond v1=this.search.headerID.readOnly op="boolCheck" v2="true"~}}
						<span id="HEADER_ZIP" class="static-value">{{~values.HEADER_ZIP~}}</span>
					{{~else~}}
						<label for="HEADER_ZIP">Zip:</label>
						<input id="HEADER_ZIP" maxLength="10" size="10" name="HEADER_ZIP" value="{{~values.HEADER_ZIP~}}">
					{{/ifCond~}}
				</span>
				<span id="HEADER_COUNTRYCID">
					{{#ifCond v1=this.search.headerID.readOnly op="boolCheck" v2="true"~}}
						<span id="HEADER_COUNTRY" class="static-value">{{~values.HEADER_COUNTRY~}}</span>
					{{~else~}}
						<label for="HEADER_COUNTRY">Country:</label>
						<input id="HEADER_COUNTRY" maxLength="2" size="5" name="HEADER_COUNTRY" value="{{~values.HEADER_COUNTRY~}}">
					{{/ifCond~}}
				</span>
			{{~else~}}

				<span id="HEADER_LAST_NAMECID">
					{{#ifCond v1=this.search.headerID.readOnly op="boolCheck" v2="true"~}}
						<span id="HEADER_LAST_NAME" class="static-value">{{~values.HEADER_LAST_NAME~}}</span>
					{{~else~}}
						<label for="HEADER_LAST_NAME">Last Name:</label>
						<input id="HEADER_LAST_NAME" maxLength="39" size="30" name="HEADER_LAST_NAME" value="{{~values.HEADER_LAST_NAME~}}">
					{{/ifCond~}}
				</span>
				<span id="HEADER_FIRST_NAMECID">
					{{#ifCond v1=this.search.headerID.readOnly op="boolCheck" v2="true"~}}
						<span id="HEADER_FIRST_NAME" class="static-value">{{~values.HEADER_FIRST_NAME~}}</span>
					{{~else~}}
						<label for="HEADER_FIRST_NAME">First Name:</label>
						<input id="HEADER_FIRST_NAME" maxLength="16" size="16" name="HEADER_FIRST_NAME" value="{{~values.HEADER_FIRST_NAME~}}">
					{{/ifCond~}}
				</span>
				<span id="HEADER_MIDDLE_INITIALCID">
					{{#ifCond v1=this.search.headerID.readOnly op="boolCheck" v2="true"~}}
						<span id="HEADER_MIDDLE_INITIAL" class="static-value">{{~values.HEADER_MIDDLE_INITIAL~}}</span>
					{{~else~}}
						<label for="HEADER_MIDDLE_INITIAL">Middle Initial:</label>
						<input id="HEADER_MIDDLE_INITIAL" maxLength="1" size="1" name="HEADER_MIDDLE_INITIAL" value="{{~values.HEADER_MIDDLE_INITIAL~}}">
					{{/ifCond~}}
				</span>
			{{/ifCond~}}

		{{~else~}}

			<span id="HEADER_LAST_NAMECID">
				{{#ifCond v1=this.search.headerID.readOnly op="boolCheck" v2="true"~}}
					<span id="HEADER_LAST_NAME" class="static-value">{{~values.HEADER_LAST_NAME~}}</span>
				{{~else~}}
					<label for="HEADER_LAST_NAME" class="cui-hide-from-screen">Name:</label>
					<input id="HEADER_LAST_NAME" maxLength="39" size="30" name="HEADER_LAST_NAME" value="{{~values.HEADER_LAST_NAME~}}">
				{{/ifCond~}}
			</span>
		{{/ifCond~}}

	{{~else~}}

		<span id="OLS_USERNAMECID">
			{{#ifCond v1=this.search.headerID.readOnly op="boolCheck" v2="true"~}}
				<span id="USERNAME" class="static-value">{{~values.USERNAME~}}</span>
			{{~else~}}
				<label for="USERNAME" class="cui-hide-from-screen">ID:</label>
				<input id="USERNAME" maxLength="60" name="USERNAME" value="{{~values.USERNAME~}}">
			{{/ifCond~}}
		</span>

	{{/ifCond~}}

{{~else~}}

    {{#ifCond v1=this.selection op="===" v2="DN"~}}
        <span id="HEADER_ID_NUMBERCID">
            {{#ifCond v1=this.search.headerID.readOnly op="boolCheck" v2="true"~}}
                <span id="HEADER_ID_NUMBER" class="static-value">{{~values.HEADER_ID_NUMBER~}}</span>
            {{~else~}}
               <label for="HEADER_ID_NUMBER" class="cui-hide-from-screen">ID:</label>
               <input id="HEADER_ID_NUMBER" maxLength="17" name="HEADER_ID_NUMBER" value="{{~values.HEADER_ID_NUMBER~}}">
            {{/ifCond~}}
        </span>
    {{else}}
    	<span id="HEADER_ID_NUMBERCID">
            {{#ifCond v1=this.search.headerID.readOnly op="boolCheck" v2="true"~}}
                <span id="HEADER_ID_NUMBER" class="static-value">{{~values.HEADER_ID_NUMBER~}}</span>
            {{~else~}}
    	       <label for="HEADER_ID_NUMBER" class="cui-hide-from-screen">ID:</label>
               <input id="HEADER_ID_NUMBER" maxLength="50" name="HEADER_ID_NUMBER" value="{{~values.HEADER_ID_NUMBER~}}">
            {{/ifCond~}}
    	</span>
    {{/ifCond~}}


{{/ifCond~}}

<input type="hidden" name="HEADER_INTERNAL_ID_NUMBER">
