<div class="agency-header">
    <div id="banner-toggle" class="banner-toggle">
        <button class="nys-logo banner-button">
            <span>
                Toggle New York State Banner
            </span>
        </button>
    </div>
    <div class="agency-title">
        <a href="{{this.bannerLink}}">
            <span>Department of</span>
            <span>Taxation and Finance</span>
        </a>
    </div>
    <ul class="agency-support-login">
        {{#if this.userAcct}}
        <li>
            <button id="userAcct" role="button">
                <span class="user-icon"></span>
                <span class="label">{{this.userAcct.text}}</span>
            </button>
        </li>
        {{/if}}
        {{#if this.support}}
        <li>
            <button id="agencyHelp" role="button">
                <span class="support-icon"></span>
                {{#if this.support.text}}
                    <span class="label">{{this.support.text}}</span>
                {{else}}
                    <span class="label">Get Support</span>
                {{/if}}
            </button>
        </li>
        {{/if}}
    </ul>
</div>
<header class="emp-global-header external-view oprts-theme">
    <div class="application-header">
        {{#unless this.disableMenu}}
        <button class="menu-button">
            <svg height="20" version="1" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                <path fill="#454545" d="M1 3h18v3H1zM1 9h18v3H1zM1 15h18v3H1z"></path>
            </svg>
            <span>Menu</span>
        </button>
        {{/unless}}
        <h1 class="application-title">{{this.title}}</h1>
    </div>
</header>
