{{#ifCond v1=this.scope op="===" v2="tableColumn"~}}
    <span  {{attribute (mergeAttributes this.attributes defaults=(extendDefaults defaults='{"className":"emp-framework-error emp-icon-ghost", "title":"click to see error message", "tabindex": 0}' scope="error" ))}}>
        {{~this.text~}}
    </span>
{{~else~}}
    <span  {{attribute (mergeAttributes this.attributes defaults=(extendDefaults defaults='{"className":"emp-framework-error emp-icon-ghost", "title":"click to see error message", "tabindex": 0}' scope="error" ))}}>
    	{{~this.text~}}
    </span>
{{/ifCond~}}
