<div class="cui-hide-from-screen">
	<a href="#nav">Go to navigation</a>
	<a href="#main">Go to content</a>
</div>
{{#unless this.noHeader~}}
    <header>
        <!-- Logo and main menu -->
        <div class="emp-header-row-first">
            <div class="emp-header-logo">
                Empire
            </div>
            <nav id="emp-header-menu-main"></nav>
            <div id="emp-header-error-report">
                <i role="button" class="emp-icon-error-report" title="Report an error">Report an error!</i>
            </div>
            {{#ifCond v1=this.popup op="!boolCheck" v2=true~}}
                <div id="emp-header-favorites" role="button" tabindex="0" title="Favorites"><i class="emp-header-favorites-icon"></i>&#9734;</div>
            {{/ifCond~}}
        </div>
        <!-- Title, notifiers and secondary menu -->
        <div class="emp-header-row-second">
            {{#if tabsets~}}
            <div class="emp-header-tabset-title">
                <button type="button" class="emp-tabset-toggle{{#ifCond v1=tabsets.collapse op="boolCheck" v2=true }} emp-collapse{{/ifCond}}" title="Hide or show the tabset view"></button>
                <h1>{{~tabsets.title~}}</h1>
            </div>
            {{/if~}}
            {{#if secondaryMenu~}}
            <ul class="emp-header-links">
                {{#each this.secondaryMenu~}}
                    <li>{{~> (getPartialName this.template) this ~}}</li>
                {{/each~}}
            </ul>
            {{/if~}}
        </div>
    </header>
{{/unless~}}

<!-- Tabset Menu -->
{{#if tabsets~}}
    <ul class="emp-tabset {{#if this.tabsets.collapse}}emp-collapse{{/if}}">
        {{#each tabsets.options}}

            {{#if this.selected}}
                <li style="{{tabsetGridPlacement index=@index pin=false}}" class="emp-selected">
                    {{~> (getPartialName this.template) this ~}}
                </li>
            {{else}}
                <li style="{{tabsetGridPlacement index=@index pin=false}}">
                    {{~> (getPartialName this.template) this ~}}
                </li>
            {{/if}}
        {{/each}}
        <li class="emp-tabset-pin-item" style="{{tabsetGridPlacement index=false pin=true}}">
            <button type="button" title="Pin the tabset open" class="emp-tabset-pin">
                Pin the tabset
            </button>
        </li>
    </ul>
{{/if~}}

<div class="emp-page-title">
    <!-- Page title -->
    <div class="emp-text">
        {{#if page.title~}}
        <h2>
            {{~page.title~}}
            {{#if page.mode~}}
            <span>{{~ page.mode ~}}</span>
            {{/if~}}
        </h2>
        {{/if~}}
    </div>
    <!-- Page actions -->
    <ul class="emp-actions">
        {{#unless this.noExpandable~}}
            <li>
                <button type="button" class="emp-icon-sections-toggle emp-initial-state" title="Expand all sections" ></button>
            </li>
        {{/unless~}}
        <!--
        <li>
            <button type="button" class="emp-icon-info-blocks-toggle-expand" title="Show information for all sections"></button>
        </li>
        -->
        <li>
            <button type="button" class="emp-icon-print" title="Print page"></button>
        </li>
    </ul>
</div>

{{!-- Legacy header hook --}}
{{#if this.accounts~}}

    {{#ifCond v1=this.accounts op="typeCheck" v2="object"~}}

        {{#ifCond v1=screen.type op="===" v2="framework-search"}}

        {{else}}
            <form name="form_tp_info" id="form_tp_info" class="emp-tp-header" method="post">
                <!-- Taxpayer info -->
                <!-- The emp-tpinfo-* classes used at this level are for distinguishing buttons that may appear for both taxpayers (e.g. legal rep) -->
                <div class="emp-tp-info">
                    <!-- Main taxpayer -->
                    <div class="emp-tp-info-main" id="emp-tp-info-main">
                        <div class="cui-row">
                            <div class="emp-tp-indicators">
                                {{#if buttons.sendID ~}} {{~> _link buttons.sendID section="globalHeader" scope="sendID"~}} {{/if~}} {{#if this.accounts.primary.notifiersAndControls~}}
                                {{#each this.accounts.primary.notifiersAndControls~}} {{~> (getPartialName this.template) this section="globalHeader"
                                scope="globalHeader" ~}} {{/each~}} {{/if~}}

                            </div>
                        </div>
                        <div class="cui-row">
                            <div class="emp-tp-id">
                                {{#if accounts.primary.id~}}
                                <span class="emp-data">
                                    {{~accounts.primary.id~}} {{~else~}}
                                    <span class="emp-label">
                                        ID: {{/if~}}
                                    </span>
                            </div>
                        </div>
                        <div class="cui-row">
                            <div class="emp-tp-name">
                                {{#if accounts.primary.name~}}
                                <span class="emp-data">
                                    {{~accounts.primary.name~}} {{~else~}}
                                    <span class="emp-label">
                                        Name: {{/if~}}
                                    </span>
                            </div>
                        </div>
                        <div class="cui-row">
                            <div class="emp-tp-address">
                                {{#if accounts.primary.address~}}
                                <span class="emp-data">
                                    {{~accounts.primary.address~}} {{~else~}}
                                    <span class="emp-label">
                                        Address: {{/if~}}
                                    </span>
                                    {{#if accounts.primary.differentMail~}} {{~> _button accounts.primary.differentMail~}} {{/if~}}
                            </div>
                        </div>
                    </div>
                    <!-- Joint taxpayer -->
                    {{~> _header-jointTaxPayer this.accounts.associate~}}
                </div>
                <!-- Buttons -->
                <div class="emp-tp-header-buttons">
                    {{#if buttons.switch~}} {{~> _button buttons.switch section="globalHeader" scope="globalSwitch"~}} {{/if~}}
                </div>
            </form>
        {{/ifCond}}

    {{/ifCond~}}

{{else~}}

    {{#if this.header }}

         {{!-- {{#ifCond v1=this.header op="!==" v2=false}} --}}
        {{#ifCond v1=this.header op="typeCheck" v2="object"}}

            {{#ifCond v1=this.type op="===" v2=undefined}}
                {{~> _header-standard this~}}
            {{else}}
                {{!-- Special Headers --}}
                {{#ifCond v1=this.type op="==" v2="dta"}}
                    {{~> _header-dta this.header~}}
                {{/ifCond}}

                {{#ifCond v1=this.type op="==" v2="railroad"}}
                    {{~> _header-railroad this.header~}}
                {{/ifCond}}

            {{/ifCond}}

        {{/ifCond}}

    {{/if}}

{{/if}}

{{#if workflow~}}

    <form name="form_workflow" id="form_workflow" class="emp-workflow" action="{{workflow.url}}" method="post">
            <ul class="emp-workflow-options">
                {{#each workflow.options~}}

                    <li>
                        {{~> _field this ~}}
                    </li>
                {{/each~}}

            </ul>
            <div class="emp-workflow-actions">

                {{#if workflow.actionSelect~}}
                    {{~> _field workflow.actionSelect ~}}
                {{/if~}}

                {{#if workflow.actionGo~}}
                    {{~> _button workflow.actionGo ~}}
                {{/if~}}

            </div>
            {{!-- Hidden workflow Inputs --}}
            {{#if workflow.hidden~}}

                {{#each workflow.hidden~}}
                    {{~> _hidden this ~}}
                {{/each~}}

            {{/if~}}
    </form>
{{/if~}}

{{#ifCond v1=search op="hasAnyProperties" v2="headerID,row"~}}
<form name="form_search" id="form_search" autocomplete="off" class="emp-search-box {{#ifCond v1=search.collapse op="boolCheck" v2=true}}emp-collapse{{/ifCond}}" action="{{search.url}}" method="post">
    <div class="emp-search-fields" id="emp-search-fields">
        {{! Search box either has or doesnt have the default drop down search tool. But it has special styles and markup we handle the structure.}}
        {{#if search.headerID ~}}
            {{~> _headerID this~}}
        {{/if~}}

        {{#each search.row~}}

            <div class="cui-row">
                {{#each this.fields~}}

                    <div class="emp-search-box-field">
                        {{#if this.template~}}
                            {{~> (getPartialName this.template) this scope="globalHeader" state="forceRequired"~}}
                        {{/if}}
                    </div>
                {{/each~}}

            </div>
        {{/each~}}

        {{!-- Start by checking if the showDup is even suppose to be enabled --}}
        {{#ifCond v1=search.showDup op="boolCheck" v2=true~}}

            {{!-- Search need to be active, but the current search box value will control that --}}
            <div class="cui-row emp-show-duplicates {{#ifCond v1=search.headerID.select.input.value op="!in" v2="IT,BT,DN,NC"}}cui-hidden{{/ifCond}}" id="emp-showDup-container">
                <div class="emp-search-box-field">
                    <div class="emp-field emp-boolean-input">
                        <div class="cui-data-left">
                            <div class="cui-data">
                                <input type="checkbox" id="FW_VK_DUPS_FLAG" name="FW_VK_DUPS_FLAG" value="Y"  />
                            </div>
                            <div class="cui-label">
                                <label for="FW_VK_DUPS_FLAG">Show Duplicates</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{~else~}}

            {{!-- The show dup is not avaliable, but still render the box just incase we need to enable it --}}
            <div class="cui-row emp-show-duplicates cui-hidden" id="emp-showDup-container">
                <div class="emp-search-box-field">
                    <div class="emp-field emp-boolean-input">
                        <div class="cui-data-left">
                            <div class="cui-data">
                                <input type="checkbox" id="FW_VK_DUPS_FLAG" name="FW_VK_DUPS_FLAG" value="Y"  />
                            </div>
                            <div class="cui-label">
                                <label for="FW_VK_DUPS_FLAG">Show Duplicates</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/ifCond~}}

    </div>
    <!-- Buttons -->
    <div class="emp-search-buttons">
        <div class="cui-row">
            {{#if buttons.retrieve~}}
                {{~> _field buttons.retrieve~}}
            {{/if~}}
        </div>
        <div class="cui-row">
            {{#if buttons.clear~}}
                {{~> _field buttons.clear~}}
            {{/if~}}
            {{#if buttons.clearAll~}}
                {{~> _field buttons.clearAll~}}
            {{/if~}}
        </div>
        <div class="cui-row emp-get-id-row">
            {{#if buttons.getID ~}}
                {{~> _link buttons.getID section="globalHeader" scope="getID"~}}
            {{/if~}}
        </div>
    </div>

    {{#if buttons.hideSearchBox~}}
        {{~> _field buttons.hideSearchBox~}}
    {{/if~}}


    {{!-- Hidden search Inputs --}}
    {{#if search.hidden~}}

        {{#each search.hidden~}}
            {{~> _hidden this ~}}
        {{/each~}}

    {{/if~}}

</form>
{{/ifCond~}}

{{! Global Page Messages }}
{{#if messages ~}}
    {{~> _message this.messages section="globalHeader"~}}
{{~else~}}
    <ul class="cui-messages emp-messages cui-hidden"></ul>
{{/if~}}
