<span class="emp-score-container emp-score-bar-{{color}}" title="{{percentage}}%: Strength of {{score}} out of {{base}}.">
	<span class="emp-score-bar" style="width:{{percentage}}%;"></span>
	<span class="emp-score-number">{{score}}</span>
</span>
