{{#ifCond v1=this.type op='===' v2="link"~}}

    <a tabindex="0" {{attribute (mergeAttributes this.attributes defaults=(extendDefaults defaults='{"role": "button", "className": "emp-selection-popup"}' scope="selectionPopup" iconClass=this.icon )) }}>
        {{~this.text~}}
    </a>
{{~else~}}

    <button tabindex="0" {{attribute (mergeAttributes this.attributes defaults=(extendDefaults defaults='{"type": "button", "className": "emp-selection-popup"}' scope="selectionPopup" iconClass=this.icon )) }}>
        {{~this.text~}}
    </button>
{{/ifCond~}}
